{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');</style>
    <link rel="stylesheet" href="{% static 'pins/index.css' %}">
    <link rel="icon" href="{% static 'pinplace_logo.ico' %}">
    <title>PinPlace</title>
    {% block head %}{% endblock %}
</head>
<body>
    <!--below brings in our logo and links it to the pins page but has a white background and needs resizing-->
    <!--<h1><a href="{% url 'pins:pins' %}"><img src="{% static 'pinplace_logo.png' %}" /></a></h1>-->
    {% block content %}
    {% endblock content %}
</body>
</html>
